//doc for variables

$primaryc: whitesmoke;
$secondaryc: grey;
$navcolor: #2d2b2a;
$sidebar-color: #af7357;
$hfont: 'Open Sans', sans-serif;
$ofont: 'Playfair Display', serif;
$hfontsize: 16pt;
$tfont: 'Anton', sans-serif;
$pfont: 14pt;